<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>IconFont</title>
    <link rel="stylesheet" href="demo.css">
    <link rel="stylesheet" href="iconfont.css">
  </head>

  <body>
    <div class="main">
      <h1>IconFont 图标</h1>
      <ul class="icon_lists clear">
        <% _.each(fonts, function(font) { %>
        <li>
          <i class="icon <%= className %> ">&#x<%= font.code %>;</i>
          <div class="name"><%= font.name %></div>
          <div class="code">&amp;#x<%= font.code%>;</div>
          <div class="fontclass">.<%= iconPrefix%>-<%= font.classname %></div>
        </li>
        <% }) %>
      </ul>
      <div class="helps">
        第一步：使用font-face声明字体
        <pre>
@font-face {font-family: '<%= fontName %>';
  src: url('<%= fontName %>.eot'); /* IE9*/
  src: url('<%= fontName %>.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('<%= fontName %>.woff2') format('woff2'),/* chrome、firefox, the latest version*/
  url('<%= fontName %>.woff') format('woff'), /* chrome、firefox */
  url('<%= fontName %>.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('<%= fontName %>.svg#iconfont') format('svg'); /* iOS 4.1- */
}</pre>
        第二步：定义使用iconfont的样式(use iconfont.css)
        <pre>
/*
 * 1、在支持css3游览器。建议使用，eg: &lt;i class="<%= iconPrefix%>-eb01"&gt;&lt;/i&gt;
 * 2、在支持伪类:before,:after游览器下。建议使用，eg:&lt;i class="<%= className %>  <%= iconPrefix%>-eb01"&gt;&lt;/i&gt;
 * 3、低版本游览器模式（如：IE6,IE7,IE8...）。建议使用，eg:&lt;i class="<%= className %> "&gt;&amp;#xeb01&lt;/i&gt;
 */
/* 兼容所有版本写法 */
.<%= className %> {
    font-family:"<%= fontName %>" !important;
    font-size:16px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
[class*="<%= iconPrefix%>-"]:before {
    font-family:"<%= fontName %>" !important;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
</pre>
        第三步：挑选相应图标并获取字体编码，应用于页面
        <pre>//支持css3
&lt;i class="<%= iconPrefix%>-eb01"&gt;&lt;/i&gt;
</pre>
        <pre>//支持IE9+
&lt;i class="<%= className %> <%= iconPrefix%>-eb01"&gt;&lt;/i&gt;
</pre>
        <pre>//支持IE6,7,8+
&lt;i class="<%= className %>"&gt;&amp;#xeb01&lt;/i&gt;
</pre>
        </div>
      </div>
  </body>
</html>
